<!DOCTYPE html>
<html>
<head>
    <title>Đăng nhập</title>
</head>
<body>
    <h2>Đăng nhập</h2>
    <form method="post">
        <label for="username">Tên người dùng:</label>
        <input type="text" name="username" required><br><br>
        
        <label for="password">Mật khẩu:</label>
        <input type="password" name="password" required><br><br>
        
        <button type="submit">Đăng nhập</button>
    </form>
    <div
            style="width: 300px; height: 200px; background-image: url('/static/z6547873563637_01bd9c320b07fae25b7ed7fdde54510d.jpg'); background-size: cover; background-position: center;">
    </div>


</body>
</html>
